@media (min-width: 35rem) {
  body {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main {
    margin: 0 auto;
    display: flex;
    gap: 20px;
    align-items: center;

    .izq {


      .buttons {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    .der {
      width: 90%;

    }

  }

}